version: "3.3"
services:
  backend:
    build: ./backend
    container_name: tp-backend
    ports:
      - "3000:3000"
    networks:
      - webnet
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=newpassword123
      - MYSQL_DATABASE=userdb
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    container_name: tp-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - webnet

  mysql:
    image: mysql:5.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: newpassword123
      MYSQL_DATABASE: userdb
    networks:
      - webnet
    volumes:
      - mysql-data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3307:3307"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-pnewpassword123"]
      interval: 10s
      timeout: 5s
      retries: 5
    ulimits:
      nofile:
        soft: 65535
        hard: 65535

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3307
      MYSQL_ROOT_PASSWORD: newpassword123
    ports:
      - "8082:80"
    depends_on:
      - mysql
    networks:
      - webnet

networks:
  webnet:

volumes:
  mysql-data:
